{% extends "_base-layouts/generic-page-layout.twig" %}

{#
	Area.twig <<REDUNDANT>>
		This template is no longer used but is kept in commit for the time being for debug purposes
#}
{# Define the search term #}
{% set searchterm = craft.app.request.getSegment(3) %}
{% if not searchterm and craft.app.request.queryParams and craft.app.request.queryParams["area"] %}
	{% set searchterm = craft.app.request.queryParams["area"] %}
{% endif %}
{% if not searchterm %}
	{% set searchterm = 'Great Britain' %}
{% endif %}

{# Define the map view #}
{% set mapview = craft.app.request.queryParams["map"] is defined and craft.app.request.queryParams["map"] == '1' %}

{# Define the attraction types to filter by #}
{% if craft.app.request.queryParams["types"] is defined and craft.app.request.queryParams["types"] != '' and not mapview %}
	{% set types = craft.app.request.queryParams["types"]|split(',') %}
{% else %}
	{# No types set? Get all attraction types #}
	{% set types = craft.categories().group('attractionType').ids() %}
{% endif %}


{# Define layout spacing #}
{% set rowSpace = master.masterRowSpacing %}
{% set gridGap = master.masterGridGap %}

{# Set the entry to the attractionSearch single #}
{% set entry = craft.entries.section("attractionSearch").one() %}

{# Use search term to get the area #}
{% set area = craft.entries.section("areas").search('title::"' ~ searchterm ~ '"').one() %}

{% if craft.app.request.queryParams["types"] is defined and craft.app.request.queryParams["types"] != '' %}
	{% set attrType = craft.categories().group('attractionType').id(craft.app.request.queryParams["types"]|split(',')).one() %}
{% else %}
	{% set attrType = {title:"results"} %}
{% endif %}
{% set pageTitle = "Search for " ~ attrType.title ~ " near " ~ searchterm %}
{% if area %}
	{% set pageTitle = attrType.title ~ " in " ~ area.title %}
{% endif %}

{% set seomate = {
	element: craft.entries.section('attractionSearch').one(),
	meta: {
		title: pageTitle | capitalize
	}
} %}

{# Adding check so if the level of the area is higher (smaller areas) then use the geocoding system #}
{% if area and area.level < 4 %}
	{% set query = craft.entries.section("attractions").attractionType(types).relatedTo(area) %}
	{% set decendants = craft.entries({'section':'areas', 'descendantOf':area.id}).all() %}

	{% if decendants|length > 1 %}
		{% set relationParam = ['or', { targetElement:entry }] %}

		{% for decendant in decendants %}
			{% set relationParam = relationParam|merge([{targetElement: decendant }]) %}
		{% endfor %}

		{% set query = craft.entries.section("attractions").attractionType(types).relatedTo(relationParam) %}
	{% endif %}

{% else %}
	{% set query = craft.entries.section("attractions").attractionType(types).attraction_location({ location: searchterm ~ ', Europe', radius: 15, unit: "mi" }).orderBy('distance') %}
{% endif %}

{# Define attractions to show based on the view type #}
{% if mapview %}
	{% set attractions = query.orderBy('title').all() %} {# return all attractions results on the map #}
{% else %}
	{% paginate query.limit(18) as pageInfo, attractions %} {# return paginated attractions results on the list #}
	{% set page = pageInfo.currentPage %}
{% endif %}

{# Output the content block #}
{% block content %}

	{# Check if area has header image #}
	{% if area and area.headerImage and area.headerImage|length > 0 %}
		{% set headerImage = area.headerImage.one() %}
		<section id="hero" class="grid-row"><div class="grid hero-content static auto small grid-gap-000 pad-top-400 pad-bottom-400 "></div><div class="grid hero-media static align-full small o-05 default multiply pad-top-400 pad-bottom-400"><img class="hero-banner" srcset="{{headerImage.getUrl("extraLarge")}} 1920w, {{headerImage.getUrl("large")}} 1536w, {{headerImage.getUrl("mediumLarge")}} 768w, {{headerImage.getUrl("medium")}} 576w, {{headerImage.getUrl("small")}} 384w" sizes="100vw" src="{{headerImage.getUrl("large")}}" alt="{{headerImage.title}}"></div></section>

		{# Display attractions search form #}
		{% include 'attractions/_components/_attractions-form' %}

	{% else %}
		{# Adding default hero ability #}
		{% include "_layouts/_hero.twig" %}
	{% endif %}

	{# Display the page content #}
	<article>
		<section class="grid-row gap-top-000 default pad-top-600 pad-bottom-000">
			<div class="grid gridRow">
				<div class="textBlock start">
					<div class="stack">
						<h1>{{pageTitle}}</h1>
						{% if area %}
							{{area.description}}
						{% endif %}
					</div>
				</div>
			</div>
		</section>

		{# Check for attractions #}
		{% if attractions| length > 0 %}

			{# Display map view ELSE attraction list #}
			{% if mapview %}
				{% include 'attractions/_components/_mapview' with { attractions:attractions } %}
			{% else %}
				{% include 'attractions/_components/_attraction_list' with { pageInfo:pageInfo, attractions:attractions } %}
			{% endif %}

		{% else %}
			{# No results message #}
			<section class="grid-row gap-top-400 default pad-top-000 pad-bottom-000"><div class="grid gridRow"><div class="textBlock start"><div class="stack"><p>No attractions matched your search</p><br /></div></div></div></section>
		{% endif %}

	</article>
{% endblock %}
